body {
  font-family: consolas, monospace;
}

#background {
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
}

#main-container {
  width: 700px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: lighten;
}

#head {
  font-weight: bold;
  text-align: center;
  font-size: 70px;
}

#subhead {
  font-size: 30px;
  text-align: center;
}